# Python bytecode
*.pyc
__pycache__/
venv/

# Secrets
.env

# Mac
.DS_Store

# IDE
.vscode/

# Checkpoints
*checkpoint*
checkpoint.py

# Chroma SQLite database
*.sqlite3
chroma.sqlite3

# Streamlit
.streamlit/
